.user-detail-header {
  min-height: 250px;
  background-color: #ff5b27 !important;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  > img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.user-details {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  height: 100px;
}

.user-detail-info {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 32px;
}

.user-detail-options {
  border: none;
  position: absolute;
  cursor: pointer;
  background-color: rgba(243, 242, 245);
  top: 8px;
  right: 8px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;

  &:hover {
    background-color: lightgray !important;
  }
}
