<mat-card class="user-detail-header">

	<img src="profile_icon.png" alt="Profil Icon">
	<div class="user-details">
		<h2>{{ user.firstName}} {{ user.lastName}}</h2>
		<p>{{ user.email }}</p>
	</div>
</mat-card>

<mat-card class="user-detail-info">
	<mat-card-header>
		<button mat-icon-button class="user-detail-options" (click)="openAddressDialog()">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-card-title>Address</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		{{ user.street }}<br>
		{{ user.zipCode }} {{ user.city }}
	</mat-card-content>
</mat-card>