@use "@angular/material" as mat;

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: rgb(60, 85, 186),
      container-text-color: white,
    )
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.mat-drawer-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 16px;
  cursor: pointer;
}

.sidenav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    cursor: pointer;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

mat-toolbar {
  width: 100vw !important;
  // min-height: 57px !important;
}

.sidenav {
  width: 300px !important;
  border-radius: 0 !important;
}

.logo-container,
.mat-toolbar {
  min-height: 56px !important;
  height: 56px !important;
}

.router-container {
  height: calc(100vh - 56px);
  width: calc(100vw - 300px);
  padding-left: 56px;
  padding-top: 16px;
  position: relative !important;
}

.add-user-btn {
  position: absolute !important;
  bottom: 56px !important;
  right: 56px !important;
}

.mr-16 {
  margin-right: 16px;
}
