@use "@angular/material" as mat;

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: rgb(60, 85, 186),
      container-text-color: white,
    )
  );
}

.mat-drawer-container {
  height: 100vh;
  background-color: lightgray !important;
}

.menu-icon {
  margin-right: 16px;
  cursor: pointer;
}
